<% _action = cat.id ? cat_url(cat) : cats_url %>
<% _verb = cat.id ? "PATCH" : "POST" %>

<form action="<%= _action %>" method="post">
  <input type="hidden" name="_method" value="<%= _verb %>">
    <label>
      <strong>Name:</strong>
      <input id="name" type="text" name="cat[name]" value="<%= cat.name %>"
    </label>

    <label>
      <strong>Birth Date:</strong>
      <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>"
    </label>

    <label>
      <strong>Color:</strong>
      <select id="color" name="cat[color]">
        <option disabled selected>-- Please Select --</option>
        <option value="blue">blue</option>
        <option value="black">black</option>
        <option value="orange">orange</option>
        <option value="grey">grey</option>
      </select>
    </label>

    <label>
      <strong>Sex:</strong>
      M <input id="sex" name="cat[sex]" type="radio" value="<%= "M" %>">
      F <input id="sex" name="cat[sex]" type="radio" value="<%= "F" %>">
    </label>


    <label>
      <strong>Description:</strong>
      <input id="description" type="text" name="cat[description]" value="<%= cat.description %>"
    </label>
    <input type="submit"></input>
</form>
</section>
